<<<<<<< HEAD
<h1><%= @post.title %></h1>
 <%= link_to "Edit", edit_post_path(@post), class: 'btn btn-success' %>

<p><%= @post.body %></p>
=======
<h1> <%= @post.title %> </h1>
<p> <%= @post.body %> </p>


>>>>>>> 1cc99e7f5f05ad43273317b0f28dab1bf9d03829
